.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
div {
  max-width: 100%;
}
.body {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
#cdIcon {
  width: 50px;
  z-index: 3000;
  transition: all 1s ease;
  margin-right: 0px;
  height: 100%;
}
.clickedIcon {
  flex: 1 !important;
}

#TitleName {
  flex: 0;
  overflow-x: auto;
  font-size: medium;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
@font-face {
  font-family: "digital-clock-font";
  src: url("./fonts/digital-7.ttf");
}
@font-face {
  font-family: "graffiti";
  src: url("./fonts/SpriteGraffiti-Regular.ttf");
}
@font-face {
  font-family: "dragonball-font";
  src: url("./fonts/Saiyan-Sans.ttf");
}
@font-face {
  font-family: "number-font";
  src: url("./fonts/NoneShallPass-B598.ttf");
}
@font-face {
  font-family: "loading-font";
  src: url("./fonts/Super\ Webcomic\ Bros..ttf");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tracklist-items {
  justify-content: center;
  align-content: center;
}
.tracklist-items:nth-child(even) {
  background-color: #0d47a1;
  transition: background-color 0.4s ease;
  border-bottom: #121858 1px solid;
  color: white;
}
.tracklist-items:nth-child(odd) {
  background-color: #121858;
  transition: background-color 0.4s ease;
  color: white;
  border-bottom: #121858 1px solid;
}
.tracklist-items:nth-child(even):hover {
  background-color: #1976d2;
}

.tracklist-items:nth-child(odd):hover {
  background-color: #1976d2;
}

#tracklist {
  border-radius: 20%;
}
.toolBar {
  display: flex;
  flex-direction: row;

  justify-content: center;
  min-width: 100%;
  box-sizing: content-box;
  padding: 0;
  height: 50px;
  background-color: #0d47a1;
  border-bottom: #121858 8px solid;
}
.MuiToolbar-gutters {
  padding: 0 !important;
}
.MuiToolbar-root {
  padding: 0 !important;
}
.MuiToolbar-regular {
  padding: 0 !important;
}

@media (max-width: 250px) {
  .toolbar {
    min-width: 210px;
  }
}
#myAudio {
  width: 20px;
}
::-webkit-scrollbar {
  width: 0px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.makeStyles-heroContent-2 {
  background-color: transparent !important;
}
.clockdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100%;
  background-color: transparent;
}
#myVideo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#videoContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
#title {
  font-family: graffiti;
  color: #0d47a1;
  font-size: 5rem;
  margin: 0px;
  max-width: 100%;
  text-shadow: 2px 2px #121858;
}
#subtitle {
  margin-top: 0;
  font-family: graffiti;
  color: red;
  font-size: 7rem;
  text-shadow: 2px 2px #121858;
}
.days,
.hours,
.minutes,
.seconds {
  margin-top: 10%;
  text-align: center;
  display: inline-block;
  min-width: 105px;
  max-width: 110px;
  padding: 2rem;
  background-color: #0d47a1;
  border: #121858 solid 3px;
  color: white;
  font-size: 2rem;
  font-family: digital-clock-font;
  box-shadow: 3px 5px 5px black;
  border-radius: 15%;
}
.MuiToolbar-root {
  background-color: #0d47a1;
}

#getNotified {
  background-color: #0d47a1;
}
#App {
  min-width: 500px;
  min-height: 500px;
}
.login1 {
  background-color: black;
  width: 100%;
  height: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 650px) {
  .loginPage {
    display: inline-block;
    width: 100%;
    height: 650px;
    max-height: 650px;
    max-width: 650px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("backgroundLogin.png") no-repeat center center fixed;
    background-size: contain;
  }
}

.loginPage {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("backgroundLogin.png") no-repeat center center fixed;
  background-size: contain;
  object-fit: contain;
}
.login2 {
  background-color: black;
  width: 100%;
  height: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 4s ease;
}
#loadingIcon {
  margin-top: 0;
}
#passwordInput {
  width: 20%;
  border: none;
  margin: auto;
  display: block;
  position: absolute;
  top: 80%;
  right: 40%;
  z-index: 3000;
}
@keyframes slidedown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes slideup {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
.slideDown {
  height: 0%;
  position: absolute;
  bottom: 0;
}
.slideUp {
  animation: slideup 4s forwards;
}
.jss2 {
  background-color: transparent;
}

#loginYearOne {
  font-family: number-font;
  color: black;
  font-size: 4rem;
  margin-bottom: 0px;
  margin-top: 10px;
}
#loginTitleOne {
  margin-top: 1%;
  font-family: dragonball-font;
  color: #fbe32c;
  -webkit-text-stroke: 1px black;
  font-size: 4rem;
  margin-bottom: 5%;
}
#loginYearTwo {
  margin-top: 0;
  font-family: number-font;
  font-size: 4rem;
  margin-bottom: 10px;
}
.loading-dots {
  text-align: center;
  z-index: 5;
  font-size: 1rem;
  height: 50px;
}
#loadingText {
  font-size: 1rem;
  font-family: loading-font;
}
.dot {
  display: inline;
  margin-left: 0.2em;
  margin-right: 0.2em;
  position: relative;
  top: -1em;
  font-size: 3.5em;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}
.one {
  animation-delay: 0.2s;
}
.two {
  animation-delay: 0.4s;
}
.three {
  animation-delay: 0.6s;
}

@keyframes showHideDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
